.reset__password-modal-show {
  position: fixed;
  right: 50%;
  z-index: 4;
  transform: translate(50%, 0);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 3px var(--rgba);
  padding: 0.6rem 0.5rem;
  animation: fade-in 400ms ease-in;
  animation-fill-mode: forwards;
}

.reset__password-modal-hide {
  display: none;
}

.success-true {
  background-color: var(--accent);
}

.success-false {
  background-color: var(--danger);
}

@keyframes fade-in {
  from {
    top: 0vh;
  }

  to {
    top: 20vh;
  }
}